*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "DM Sans", sans-serif;
    background: #0F1115;
    color: #F5F1EC;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Playfair Display", serif;
}

