*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../images/coffeee.png");
    background-size: cover;
    background-position: center;
    font-family: "DM Sans", sans-serif;
    color: #F5F1EC;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Playfair Display", serif;
}

.hero{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.hero-content{
    position: relative;
    left: 300px;
    max-width: 650px;
    padding-left: 30px;
}

.hero-tagline{
    color: #D8BFAA;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.hero-heading{
    font-size: 4rem;
    margin: 20px 0;
}

.hero-description{
    font-size: 1.1rem;
    color: #d0d0d0;
    margin-bottom: 30px;
}

.container{
    background: transparent;
    padding: 10px;
}

.toplinks{
    margin: 10px;
    display: inline-block;
    align-items: center;
}

.about-hero{
    position: relative;
    left: 0px;
    text-align: center;
    padding-left: 30px;
}

.about-content{
    position: relative;
    left: 300px;
    text-align: center;
    padding-left: 30px;
}